/* 定义字体路径变量 */
$font-path: "../fonts/";

/* 字体列表 */
$fonts: (
  "TianShiSongTiErJianZi": "TianShiSongTiErJianZi.ttf",
  "Nyushufengqi": "Nyushufengqi.ttf",
  "NyushuFirmia": "NyushuFirmia.ttf",
  "Fangzhengxiaozhuan": "Fangzhengxiaozhuan.ttf",
  "NomNaTong": "NomNaTong.ttf",
  "MonBaiti": "monbaiti.ttf",
);

/* 生成 @font-face */
@each $name, $file in $fonts {
  @font-face {
    font-family: #{$name};
    src: url(#{$font-path}#{$file}) format("truetype");
  }
}
