@use "sass:string";

/* 定义字体路径变量 */
$font-path: "../fonts/";

/* 字体列表 */
$fonts: (
  "Bellamy-Stevenson": "Bellamy-Stevenson.otf",
  "TianShiSongTiErJianZi": "TianShiSongTiErJianZi.ttf",
  "Nyushufengqi": "Nyushufengqi.ttf",
  "NyushuFirmia": "NyushuFirmia.ttf",
  "Fangzhengxiaozhuan": "Fangzhengxiaozhuan.ttf",
  "NomNaTong": "NomNaTong.ttf",
  "MonBaiti": "monbaiti.ttf",
);

/* 生成 @font-face */
@each $name, $file in $fonts {
  @font-face {
    font-family: #{$name};
    @if (string.slice($file, -3) == "otf") {
      src: url(#{$font-path}#{$file}) format("opentype");
    } @else if (string.slice($file, -3) == "ttf") {
      src: url(#{$font-path}#{$file}) format("truetype");
    } @else {
      @error "Unsupported font format";
    }
  }
}

.content-image {
  max-height: 50vh;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
}
